@import 'normalize';
@import 'fonts';
@import 'vars';
@import 'mixins';
@import 'typography';
@import 'elements';
@import 'lists';
@import 'links';
@import 'images';
@import 'buttons';


[class^="icon-"], [class*=" icon-"] {
	font-family: 'jw-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.icon-menu:before {
	content: "\e600";
}
.icon-heart:before {
	content: "\e601";
}
.icon-facebook:before {
	content: "\e602";
}
.icon-instagram:before {
	content: "\e603";
}
.icon-twitter:before {
	content: "\e604";
}
.icon-dribbble:before {
	content: "\e605";
}
.icon-linkedin:before {
	content: "\e606";
}
.icon-lastfm:before {
	content: "\e608";
}
.icon-pinterest:before {
	content: "\e607";
}


/*
**** MISC ****
======================================== */


.back-top {
    right         : rem(8);
    width         : rem(48);
    height        : rem(48);
    bottom        : rem(24);
    position      : fixed;
    overflow      : hidden;
    background    : rgba($blacktop, 0.8);
    text-align    : center;
    border-radius : rem(8);

}


@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .back-top {
    backdrop-filter : blur(rem(10));
  }
}

.back-top a {
    color           : $white;
    width           : rem(48);
    height          : rem(48);
    display         : flex;
    flex-direction  : column;
    text-decoration : none;
    justify-content : center;

}

.back-top div {
  font-size      : rem(32);
	line-height    : normal;
	vertical-align : bottom;
}


.section-module {
  padding : rem(96) 0;

}



#mylastfm {

    .coverart {
        max-width: rem(96);
    }

}

