$em-base: 16;

// BREAKPOINTS
$sl: "max-width: 500px";
$xs: "min-width: 500px";
$sm: "min-width: 768px";
$md: "min-width: 1024px";
$lg: "min-width: 1240px";
$wd: "min-width: 1440px";

// COLUMN COUNT
$columns : "12";

// GUTTERS & MARGINS: DETAILED
$web-gutters    : "32px";
$mobile-gutters : "24px";


// COLOR SWATCHES
$white    : #fff;
$black    : #000;
$crimson  : #e2062c;
$blacktop : #151515;
